# Global config
DOMAIN_NAME=pl.quatrain.com
SSL_EMAIL=developers@quatrain.com
CF_DNS_API_TOKEN=your_cloudflare_token

# Traefik
TRAEFIK_AUTH=crapougnax:$$apr1$$Ohuh7Ip4$$qkV8N372uZ02HURKuctep0

# SMTP Relay
SMTP_HOSTNAME=pl.quatrain.com
SMTP_RELAYHOST=[smtp.sendgrid.net]:587
SMTP_USER=apikey
SMTP_PASSWORD=your_smtp_password
